<html>
<head>
	<title>{% block title %} {% endblock title %}</title>
	<style type="text/css">
		@import url("{{STATIC_URL}}css/metro-ui/metro-bootstrap.min.css");
		@import url("{{STATIC_URL}}css/metro-ui/metro-bootstrap-responsive.min.css");
    @import url("{{STATIC_URL}}css/metro-ui/iconFont.min.css");
    body{
      min-height: 200px;
    }
    {% block style %}
    	
    {% endblock style %}
	</style>

	<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.widget.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/libs/metro.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/forms/ajax.js"></script>
</head>

<body class="metro">

    <!--HEADER MAIN NAVBAR-->
  <header>
    <div class="navbar shadow">
      <div class="navbar-content container">        
        <a href="/main/logged_user/" class="element">
          <span class="icon-grid-view "></span> ENCODING <sup>Ideas</sup>
        </a>
        <span class="element-divider"></span>
        <a class="pull-menu" href="#"></a>

        {% for menu in menus %}
          <ul class="element-menu">           
            <li>
              <a class="dropdown-toggle" href="#">
                <i class="{{menu.men_ico}} fg-darker" style="background-color:#fff;color:white;padding:10px;border-radius:50%">
                </i> {{menu.men_des}} 
              </a>
              <ul class="dropdown-menu" data-role="dropdown">
                {% for submenu in submenus %}                 
                  {% if menu.men_cod == submenu.men_cod_id and submenu.sbm_des != None %}                   
                    {% if submenu.sbm_men %}
                      <li>
                        <a href="#" class="dropdown-toggle">{{submenu.sbm_des}}</a>                         
                        
                        <ul class="dropdown-menu" data-role="dropdown" style="display: block;">
                          {% for sb in subs %}                      
                            {% ifequal sb.sbm_sbm submenu.sbm_cod  %} 
                              <li><a href="#">{{sb.sbm_des}}</a></li>
                              {% if not forloop.last %}
                                <li class="divider"></li> 
                              {% endif %}
                            {% endifequal %}
                            
                          {% endfor %}
                        </ul>
                      </li>
                    {% else %}                      
                      <li style="margin-bottom:1px solid #ccc;">
                        <a href="{{submenu.sbm_url}}"><i class="{{submenu.sbm_ico}}"></i> <b> {{submenu.sbm_des}} </b></a>
                      </li>                 
                      <!--{% if not forloop.last %}
                        <li class="divider"></li>
                      {% endif %}-->
                      
                    {% endif %}
                  {% endif %}           
                {% endfor %}
              </ul>   
            </li>
          </ul>
        {% endfor %}
        
        <div class="no-tablet-portrait">
              <span class="element-divider"></span>

              <div class="element place-right">
                  <a class="dropdown-toggle" href="#"><span class="icon-cog"></span></a>
                  <ul class="dropdown-menu place-right" data-role="dropdown">
                      <li><a href="#">Modificar Contraseña</a></li>
                     
                      <li><a href="/main/logout/">Salir</a></li>
                  </ul>
              </div>
              <span class="element-divider place-right"></span>
              <button class="element image-button image-left place-right large">
                  {{user_name}}
                  <img src="{{STATIC_URL}}img/pm-avatar.png" style="height:100%;">
              </button>
          </div>

      </div>
    </div>
  </header>
  <!--END NAVBAR-->

	{% block content %}
		
	{% endblock content %}

	{% block script %}
		
	{% endblock script %}
</body>
</html>
