<!--https://www.youtube.com/watch?v=-unr45Ksx08-->
{% extends "main/base.html" %}
{% block content %}

  <div class="grid">
    <div class="row">      
      <div class="example span6 example offset5" style="margin-left:50px;">        
        <form id="frmImg" enctype="multipart/form-data">
          <fieldset>
            <legend>
              Eventos <button id="btnEvents" title="Ver Eventos"><i class="icon-filter" title="Ver Eventos"></i></button>
            </legend>
            
            <label>Nombre Evento:</label>
            <input type="text" id="txtNameEvent" name="nameEvent" data-transform="input-control" data-popover="popover" data-popover-position="right" data-popover-text="¡Campo requerido, minimo 8 digitos!" data-popover-background="bg-red" data-popover-color="fg-white"/>
            
            <label>Fecha:</label>
            <div class="input-control text size3" id="txtDateEvent" name="txtDateEvent" data-popover="popover" data-popover-position="right" data-popover-text="¡Campo requerido, formato: Año-Mes-Día !" data-popover-background="bg-red" data-popover-color="fg-white">
                <input type="text" id="dateEvent" name="dateEvent">
                <button class="btn-date"></button>
            </div>
            
            <label>Imagen:</label>
            <input type="file" id="txtImageEvent" name="imageEvent" data-transform="input-control" data-popover="popover" data-popover-position="right" data-popover-text="¡Campo requerido, Seleccione una imagen!" data-popover-background="bg-red" data-popover-color="fg-white"/>
            
            <label>Información:</label>
            <textarea data-transform="input-control" id="txtInforEvent" name="informationEvent" data-popover="popover" data-popover-position="right" data-popover-text="¡Campo requerido!" data-popover-background="bg-red" data-popover-color="fg-white"></textarea>

            <hr>
            <input id="btnSave" type="submit" value="Guardar" class="primary"/>
          </fieldset>         
          
        </form>
      </div>
    </div>
  </div>  

{% endblock content %}
{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/validateForms/jquery.validate.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/validateForms/localization/messages_es.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/metro-calendar.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/metro-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms/main/logged_user_events.js"></script>
{% endblock script %}