<!--https://www.youtube.com/watch?v=-unr45Ksx08-->
{% extends "main/base.html" %}
{% block content %}
	<!--SECTION CONTAINER-->
  <section class="container">
    <article>
      <h1 class="text-center" >
        <!--a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        SVRA<small class="on-right">component</small-->
      </h1>  
      <div class="span4 offset5">
        <img src="{{STATIC_URL}}img/vista_previa.png" title="Encoding Ideas">  
      </div>
      
    </article>    
  <section>
  <!--END CONTAINER-->

{% endblock content %}
  