<!--https://www.youtube.com/watch?v=-unr45Ksx08-->
{% extends "main/base.html" %}
{% block content %}
	<!--SECTION CONTAINER-->
  <section class="container">
    <article>
      <h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        Navigation Bar<small class="on-right">component</small>
      </h1>  
    </article>    
  <section>
  <!--END CONTAINER-->

  <!--ASIDE FORM LOGIN-->
  <aside class="example">
    <form action="/main/login/" method="post">
      <fieldset>
        <legend>Login</legend>
        <label>Usuario: </label>
        <div class="input-control text" data-role="input-control">
            <input type="text" placeholder="type text" name="user">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
        <label>Password: </label>
        <div class="input-control password" data-role="input-control">
            <input type="password" placeholder="type password" autofocus="" name="password">
            <button class="btn-reveal" tabindex="-1" type="button"></button>
        </div>
        <input type="submit" value="acceder" class="button info"> 
      </fieldset>      
    </form>
  </aside>
	<!--END ASIDE-->

{% endblock content %}
  