<!--https://www.youtube.com/watch?v=-unr45Ksx08-->
{% extends "main/base.html" %}
{% block content %}
	<!--SECTION CONTAINER-->
  <section class="container">
    <article>
      <h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        Navigation Bar<small class="on-right">component</small>
      </h1>  
    </article>    
  <section>
  <!--END CONTAINER-->

  <div class="grid">
    <div class="row">      
      <div class="example">
        
        <form enctype="multipart/form-data" method="post" action="/main/logged_user/create_event/add_event/">
          <span>File</span>
        <input type="file" id="file" name="file"/>
        <input id="uploadbutton" type="submit" value="Upload"/>
      </form>
      </div>
    </div>
  </div>  

{% endblock content %}
{% block script %}
  <script>
    $(document).ready(function () {
    $("#hjhjjh").click(function () {
        var filename = $("#file").val();

        $.ajax({
            type: "POST",
            url: "/main/logged_user/create_event/add_event/",
            enctype: 'multipart/form-data',
            data: {
                file: filename
            },
            success: function () {
                alert("Data Uploaded: ");
            }
        });
    });
});
  </script>
{% endblock script %}