{% extends "main/base.html" %}
{% block title %}
  Productos
{% endblock title %}}
{% block style %}  
    
{% endblock style %}
{% block  content %}
<!-- ROW TABLA -->
<br>                                
                                    
<div class="panel-heading" >
  <h3 class="panel-title" style="text-align: center;">
    <b>Productos</b>
  </h3>

  <div id="btn-form">
    <button class="default" id="btnNew">
        <b>Nuevo</b>
    </button>
  </div>
</div>
                        
                        
<div class="container">
    <table class="table hovered bordered" id="tabla">
        <thead class="bg-blue">
            <th class="text-center fg-white">#</th>
            <th class="text-center fg-white">Producto</th>
            <th class="text-center fg-white">Descripción</th>
            <th class="text-center fg-white">Precio</th>
            <th class="text-center fg-white"># Pieces</th>
            <th class="text-center fg-white">Category</th>
            <th class="text-center fg-white" colspan="2">Acción</th>
        </thead>
        <tbody id="bodyTableModule">            
        </tbody>
    </table>
</div>
                          
                                 
<!--</div> -->  <!--final grid table -->
    
{% endblock%}

{% block script %}
    
        <script type="text/javascript" src="{{ STATIC_URL }}js/forms/producto.js"></script>        
{% endblock %}
